[Unit]
Description=Daily Cloudflare IP range update for nginx

[Timer]
OnBootSec=5m
OnUnitActiveSec=1d
RandomizedDelaySec=30m
Persistent=true
Unit=cloudflare-nginx-update.service

[Install]
WantedBy=timers.target
