[Unit]
Description=Apply database-friendly THP tuning
After=systemd-sysctl.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c '[ ! -e /sys/kernel/mm/transparent_hugepage/enabled ] || printf %%s\\n madvise > /sys/kernel/mm/transparent_hugepage/enabled'
ExecStart=/bin/sh -c '[ ! -e /sys/kernel/mm/transparent_hugepage/defrag ] || printf %%s\\n madvise > /sys/kernel/mm/transparent_hugepage/defrag'
ExecStart=/bin/sh -c '[ ! -e /sys/kernel/mm/transparent_hugepage/khugepaged/max_ptes_none ] || printf %%s\\n 0 > /sys/kernel/mm/transparent_hugepage/khugepaged/max_ptes_none'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
