MARIADB_MAIN_BACKUPS_PATH='/data/databases/mariadb/main/backups'
MARIADB_MAIN_EXPOSE_HOST='127.0.0.1'
MARIADB_MAIN_EXPOSE_PORT=3306
MARIADB_MAIN_FILES_PATH='/data/databases/mariadb/main/data'
MARIADB_MAIN_ROOT_PASSWORD=''
MARIADB_MAIN_TZ='UTC'
