# KeyDB
KEYDB_MAIN_EXPOSE_PORT=6379
KEYDB_MAIN_PASSWORD=''

# MariaDB
MARIADB_MAIN_EXPOSE_PORT=3306
MARIADB_MAIN_FILES_PATH='/data/databases/mariadb/main'
MARIADB_MAIN_ROOT_PASSWORD=''
MARIADB_MAIN_TZ='Asia/Taipei'

# MongoDB
MONGODB_MAIN_DATA_1_EXPOSE_PORT=27017
MONGODB_MAIN_DATA_1_FILES_PATH='/data/databases/mongodb/main/data/1'

MONGODB_MAIN_DATA_2_EXPOSE_PORT=27018
MONGODB_MAIN_DATA_2_FILES_PATH='/data/databases/mongodb/main/data/2'

MONGODB_MAIN_DATA_3_EXPOSE_PORT=27019
MONGODB_MAIN_DATA_3_FILES_PATH='/data/databases/mongodb/main/data/3'

# PhpMyAdmin
PHPMYADMIN_EXPOSE_PORT=9001

# Portainer
PORTAINER_EXPOSE_PORT=9000

# Public
HOST_ADDRESS='127.0.0.1'

# Verdaccio
VERDACCIO_EXPOSE_PORT=4873
