# Dragonfly
DRAGONFLY_MAIN_EXPOSE_HOST='0.0.0.0'
DRAGONFLY_MAIN_EXPOSE_PORT=6379
DRAGONFLY_MAIN_PASSWORD=''

# MariaDB
MARIADB_MAIN_EXPOSE_HOST='0.0.0.0'
MARIADB_MAIN_EXPOSE_PORT=3306
MARIADB_MAIN_FILES_PATH='/data/databases/mariadb/main'
MARIADB_MAIN_ROOT_PASSWORD=''
MARIADB_MAIN_TZ='Asia/Taipei'

# MongoDB
MONGODB_MAIN_BACKUPS_PATH='/data/databases/mongodb/main/backups'
MONGODB_MAIN_EXPOSE_HOST='0.0.0.0'
MONGODB_MAIN_EXPOSE_PORT=27017
MONGODB_MAIN_FILES_PATH='/data/databases/mongodb/main/data'

# PhpMyAdmin
PHPMYADMIN_EXPOSE_HOST='0.0.0.0'
PHPMYADMIN_EXPOSE_PORT=9001

# Portainer
PORTAINER_EXPOSE_HOST='0.0.0.0'
PORTAINER_EXPOSE_PORT=9000

# Public
HOST_ADDRESS=''

# Verdaccio
VERDACCIO_EXPOSE_HOST='0.0.0.0'
VERDACCIO_EXPOSE_PORT=4873
