# Identity
GITLAB_HOSTNAME=''

# Paths
GITLAB_CONFIG_PATH='/srv/gitlab/config'
GITLAB_DATA_PATH='/srv/gitlab/data'
GITLAB_LOGS_PATH='/srv/gitlab/logs'

# Resources
GITLAB_CPU_LIMIT=4
GITLAB_MEMORY_LIMIT='8g'

# SSH
GITLAB_SSH_EXPOSE_HOST='127.0.0.1'
GITLAB_SSH_EXPOSE_PORT=2222

# Web
GITLAB_WEB_EXPOSE_HOST='127.0.0.1'
GITLAB_WEB_EXPOSE_PORT=9002
