POSTGRES_MAIN_BACKUPS_PATH='/data/databases/postgres/main/backups'
POSTGRES_MAIN_DATABASE='postgres'
POSTGRES_MAIN_EXPOSE_HOST='127.0.0.1'
POSTGRES_MAIN_EXPOSE_PORT=5432
POSTGRES_MAIN_FILES_PATH='/data/databases/postgres/main/data'
POSTGRES_MAIN_PASSWORD=''
POSTGRES_MAIN_USER='postgres'
